[build]
  functions = "netlify/functions"
  publish = "."

[build.environment]
  SECRETS_SCAN_ENABLED = "false"

[functions]
  node_bundler = "esbuild"

[context.production]
  environment = { NODE_VERSION = "18" }

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
